# Meta Ads Configuration
META_ACCESS_TOKEN=EAAQ7EOS1S4kBQElqUwJOZCX4ZAOwxCOlCTageDvV5xaY6Jt2xZBLFOZBRCntNxOUXsyO9QyQVdrYXhVZAA2eItMsNjrQbaYs1iB4g4PuiPEuMxsThcP3q8V4OdDr1HIpVN7ejYZBVoCb90dBaZBdi91XOFOv8pIwa5ry6e3UeeNFh9UKnP9eWQ7ZA4HiFhNG7mNIbgZDZD
META_DATASET_ID=716760367715152
META_API_VERSION=v21.0

# Meta Pixel (Frontend)
NEXT_PUBLIC_META_PIXEL_ID=716760367715152
